.game-1 {
    display: flex;
    flex-direction: row;
}
.game-2 {
    display: flex;
    flex-direction: row;
}
.game-3 {
    display: flex;
    flex-direction: row;
}
.game-4 {
    display: flex;
    flex-direction: row;
}
.game-5 {
    display: flex;
    flex-direction: row;
}
.game-6 {
    display: flex;
    flex-direction: row;
}
.game-7 {
    display: flex;
    flex-direction: row;
}
.game-8 {
    display: flex;
    flex-direction: row;
}
.game-9 {
    display: flex;
    flex-direction: row;
}
.game-10 {
    display: flex;
    flex-direction: row;
}

