:root {
    /* declare a variable with `--` syntax */
    --background: #0b0b0b;
    --border: #4ddb4f;
    --links: #fd0048;
    --text1: #c2defd;
    --light:#192c6d;
    --accents: #990099;
  }

  body{
    background-color: var(--light)
}

.nav-wrapper {
    background-color: var(--background)
}

.slideText {
    text-shadow:-2px -2px #000; 
}

.slideText2 {
    text-shadow:-1px -1px #FFF; 
}

.navLinks {
    font-size: 20px;
    color: var(--border)
}
body{
    background-image: linear-gradient(to bottom, #0b0b0b, #192c6d);
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

tbody {
    background-color: var(--background);
}

.focus:focus-visible {
    color: var(--border);
}

/* this class is for the color of the buttons - we can change them to anything we want */
.collection a.collection-item {
    color: var(--border);
}
.active {
    color: #FFF;
}
.wrapper{
    margin-left: 5px;
    margin-right: 20px;
}

.list-button {
    margin: 0.5em;
}

.card-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 350px;
}

.example{
    border: 3px solid var(--border);
}

.card{
    background-color: var(--light);
    /* width: 30%; */
    display: flex;
    flex-direction: column;
    /* border: 1px gray solid; */
    border-radius: 5px;
    padding-bottom: 15px; 
    
}

.platforms{
    color: var(--text1);
    padding: 10px;
    width: 30%;
    border: solid;
    border-color:  var(--border);
    box-shadow:0px 0px 8px var(--border);

}

#submitBtn{
    font-size: 15px;
    font-weight: 400;
    color: var(--links);
    padding: 10px 15px;
    border-radius: 10px;
    background: var(--background);
    cursor: pointer;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
}

/* .cSrc{
    display: flex;
    justify-content: center;
} */

.pc {
    border: 1px solid var(--border);
    margin-bottom: 20px;
}



.pcBtn{
    font-size: 15px;

}

.Btn{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: var(--text1);
    /* padding: 5px 5px; */
    border-radius: 10px;
    border: 5px solid var(--border);
    background:var(--background);
    cursor: pointer;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
}

.playBtn{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: var(--links);
    padding: 7px 11px;
    border-radius: 10px;
    border: 5px solid var(--border);
    background:var(--background);
    cursor: pointer;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
}

.boxBtn{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: var(--links);
    padding: 4px 11px;
    border-radius: 10px;
    border: 5px solid var(--border);
    background:var(--background);
    cursor: pointer;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
}

.ninBtn{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: var(--links);
    padding: 7px 11px;
    border-radius: 10px;
    border: 5px solid var(--border);
    background:var(--background);
    cursor: pointer;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
}

.pc {
    /* border: 1px solid black; */
    margin-bottom: 20px;
}

.ps {
    /* border: 1px solid black; */
     margin-bottom: 20px;
} 

.xb {
   
    margin-bottom: 20px;
}

.nin {
    margin-bottom: 20px;
}

/* CSS FOR SECOND SHEET */

#page2wrapper {
    margin-top: 2em;
    margin-left: 4.5em;
    margin-right: 4.5em;
}

#top10 {
    background-color: var(--light);
    border: solid;
    border-color: var(--border);
    box-shadow:0px 0px 8px var(--border);
}

#gameInfoContainer {
    color: var(--text1);
    border: solid;
    border-color: var(--border);
    background: var(--light);
    box-shadow:0px 0px 8px var(--border);
}

#gameDetailBox {
    display: flex;
    flex-direction: column;
    
    /* border: solid; */
    /* border-color: aqua; */
}

.gameInfoTitle {
    /* border: solid; */
    font-size: 40px;
    width: 100%;
    padding-top: 20px;
   
}

.gameInfoDesc {
    /* border: solid; */
    font-size: 20px;
    margin-top: 1em;
    width: 100%;
    padding: 1em;
    border: solid 1px var(--text1);
}

#subAndPhoto {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* border: solid; */
    
}
#subInfoBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: solid; */
    margin-top: 1em;
    width: 50%;
    font-size: 20px;
}
.gameInfoGenre {
    /* border: solid; */
    text-align: left;
    /* border: solid;
    border-bottom: var(-); */
    margin: 1em;
    width: 90%;
    
}

.gameInfoRating {
    /* border: solid; */
    text-align: left;
    margin: 1em;
    width: 90%;
    
}

.gameInfoReview {
    /* border: solid; */
    text-align: left;
    margin: 1em;
    width: 90%;
    
}

.gameInfoPhoto {
    /* border: solid; */
    margin: 1em;
    width: 50%;
   
}

#photoBox{
    display: flex;
    justify-content: center;
    /* border: solid; */
    margin-top: 1em;
    width: 50%;
    border: solid 1px var(--text1);
    background: black;
}

.gameInfoVideos {
    /* border: solid; */
    margin-top: 1em;
    margin-bottom: 1em;
    height: 12em;
}

#savedFavorites{
    background: var(--light);
    border: solid;
    border-color: var(--border);
    box-shadow:0px 0px 8px var(--border);
}


#freeGamesBox {
    margin-top: 1em;
    margin-bottom: 1em;
    border: solid;
    border-width: 1px;
    border-color: white;

}