:root {
    /* declare a variable with `--` syntax */
    --dark: #000000;
    --neon: #00ff04;
    --dark2: #060a3d;
    --medium: #002754;
    --light:#3f0090;
    --lightMain: #001994;
  }

  body{
    background-color: #003062
}

.wrapper{
    margin-left: 20px;
    margin-right: 20px;
}

.card-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 350px;
    margin-bottom: 350px;

}

.example{
    border: 3px solid black;
}

.card{
    background-color: #0a9cf5;
    width: 30%;
    display: flex;
    flex-direction: column;
    border: 1px gray solid;
    border-radius: 5px;
    padding-bottom: 15px;
   
}

.platforms{
    color: #ffff;
    padding-bottom: 10px;
    text-decoration: underline;
}

#submitBtn{
    font-size: 15px;
    font-weight: 400;
    color: #1D7874;
    padding: 10px 15px;
    border-radius: 10px;
    background: #fff;
    cursor: pointer;
    border: none;
    outline: none;
    cursor: pointer;
}


.pc {
    border: 1px solid black;
    margin-bottom: 20px;
}

.pcBtn{
    font-size: 15px;
    font-weight: 400;
    color: #1D7874;
    padding: 7px 11px;
    border-radius: 10px;
    background: #fff;
    cursor: pointer;
    border: none;
    outline: none;
    cursor: pointer;
}

.playBtn{
    font-size: 15px;
    font-weight: 400;
    color: #1D7874;
    padding: 7px 11px;
    border-radius: 10px;
    background: #fff;
    cursor: pointer;
    border: none;
    outline: none;
    cursor: pointer;
}

.boxBtn{
    font-size: 15px;
    font-weight: 400;
    color: #1D7874;
    padding: 7px 11px;
    border-radius: 10px;
    background: #fff;
    cursor: pointer;
    border: none;
    outline: none;
    cursor: pointer;
}

.ninBtn{
    font-size: 15px;
    font-weight: 400;
    color: #1D7874;
    padding: 7px 11px;
    border-radius: 10px;
    background: #fff;
    cursor: pointer;
    border: none;
    outline: none;
    cursor: pointer;
}

.ps {
    border: 1px solid black;
     margin-bottom: 20px;
} 

.xb {
   
    margin-bottom: 20px;
}

.nin {

}


    
    
