:root {
    /* declare a variable with `--` syntax */
    --dark: #000000;
    --neon: #00ff04;
    --dark2: #060a3d;
    --medium: #002754;
    --light:#3f0090;
    --lightMain: #001994;
  }

  body{
    background-color: var(--lightMain)
}

.nav-wrapper {
    background-color: var(--light)
}
.navLinks {
    font-size: 20px;
    color: var(--neon)
}

#welcomeMessage{
    width: 60%;
    margin: auto;
    margin-top: 4em;
    color: #ffff;
    font-size: 20px;
}
.wrapper{
    margin-left: 5px;
    margin-right: 20px;
}

.card-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 350px;
}

.example{
    border: 3px solid black;
}

.card{
    background-color: var(--light);
    width: 30%;
    display: flex;
    flex-direction: column;
    border: 1px gray solid;
    border-radius: 5px;
    padding-bottom: 15px; 
}

.platforms{
    color: #ffff;
    padding-bottom: 10px;
    text-decoration: underline;
}

#submitBtn{
    font-size: 15px;
    font-weight: 400;
    color: #1D7874;
    padding: 10px 15px;
    border-radius: 10px;
    background: #fff;
    cursor: pointer;
    border: none;
    outline: none;
    cursor: pointer;
}

.pc {
    border: 1px solid black;
    margin-bottom: 20px;
}

.pcBtn{
    font-size: 15px;
    font-weight: 400;
    color: #1D7874;
    padding: 7px 11px;
    border-radius: 10px;
    background: #fff;
    cursor: pointer;
    border: none;
    outline: none;
    cursor: pointer;
}

.playBtn{
    font-size: 15px;
    font-weight: 400;
    color: #1D7874;
    padding: 7px 11px;
    border-radius: 10px;
    background: #fff;
    cursor: pointer;
    border: none;
    outline: none;
    cursor: pointer;
}

.boxBtn{
    font-size: 15px;
    font-weight: 400;
    color: #1D7874;
    padding: 7px 11px;
    border-radius: 10px;
    background: #fff;
    cursor: pointer;
    border: none;
    outline: none;
    cursor: pointer;
}

.ninBtn{
    font-size: 15px;
    font-weight: 400;
    color: #1D7874;
    padding: 7px 11px;
    border-radius: 10px;
    background: #fff;
    cursor: pointer;
    border: none;
    outline: none;
    cursor: pointer;
}

.ps {
    border: 1px solid black;
     margin-bottom: 20px;
} 

.xb {
   
    margin-bottom: 20px;
}

.nin {

}

<<<<<<< HEAD

    
    
=======
/* CSS FOR SECOND SHEET */

#page2wrapper {
    margin-top: 2em;
}

#top10 {
    background-color: var(--medium);
    border: solid;
    border-color: var(--neon);
}
#gameInfoContainer {
    color:white;
    border: solid;
    border-color: var(--neon);
    background: var(--light);
}

#gameDetailBox {
    display: flex;
    flex-direction: column;
    
    /* border: solid; */
    /* border-color: aqua; */
}

.gameInfoTitle {
    border: solid;
    width: 100%;
}

.gameInfoDesc {
    border: solid;
    margin-top: 1em;
    width: 100%;
}

#subAndPhoto {
    display: flex;
    flex-direction: row;
    /* border: solid; */
    
}
#subInfoBox{
    display: flex;
    flex-direction: column;
    /* border: solid; */
    margin-top: 1em;
    width: 50%;
}
.gameInfoGenre {
    border: solid;
    margin: 1em;
    width: 90%;
}

.gameInfoRating {
    border: solid;
    margin: 1em;
    width: 90%;
}

.gameInfoReview {
    border: solid;
    margin: 1em;
    width: 90%;
}

.gameInfoPhoto {
    border: solid;
    margin: 1em;
    width: 50%
}

#photoBox{
    display: flex;
    justify-content: center;
    /* border: solid; */
    margin-top: 1em;
    width: 50%; 
}

.gameInfoVideos {
    border: solid;
    margin: 1em;
    height: 12em;
}

#savedFavorites{
    background: var(--medium);
    border: solid;
    border-color: var(--neon);
}
>>>>>>> 9010062f1649fc211134703a1b77a8dd804a14b9
